# Ignorar archivos innecesarios para la imagen Docker
.git
.gitignore
.DS_Store
Thumbs.db
*.ps1
*.yaml
docker-compose.yml
Dockerfile
nginx.conf
README.md
CHECKLIST_DESPLIEGUE.md
DESPLIEGUE_RAPIDO.md
INSTRUCCIONES_COOLIFY.md
nixpacks.toml
.coolify
.coolify.yaml

